.exampless-events {
  width: 300px;
  height: 500px;
  overflow: auto;
  border: 1px solid #555;
}

.mat-sidenav {
  width: 300px;
  padding: 0px;
  font-size: 80%;  
}

.latlon{
    width: 100px;
}

/* .mat-form-field{
    width: 100px;
} */
