.exampless-events {
  width: 300px;
  height: 500px;
  overflow: auto;
  border: 1px solid #555;
}

.mat-sidenav {
  width: 300px;
  padding: 0px;
  font-size: 80%;   
}

.main-div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}
.mat-sidenav-container {
  height: 90%;  // hack a cambiar 
}

.latlon{
    width: 100px;
}

/* .mat-form-field{
    width: 100px;
} */

.custom.mat-card{
  padding: 4px;
}