
<mat-sidenav-container fxFlexFill>
  <mat-sidenav mode="side" opened  >
    <mat-card>
    <mat-card-header><mat-icon mat-card-avatar>preview</mat-icon><mat-card-title>Date-time</mat-card-title></mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill" id="dateTimeId" >
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="changedDate($event)"  [maxlength]="10"/>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>                
      <mat-slider  thumbLabel [displayWith]="formatSolarHour"   tickInterval="2"  min="4" matTooltip="Hora solar media local"
        max="22"  step="0.25"  value="12"(input)="onHourChanged($event)">
      </mat-slider>
    </mat-card-content>
    <mat-card-footer><span class="fs-10" matTooltip="Fecha UTC">{{utcDate | date:'medium' }}</span></mat-card-footer>
    </mat-card>
    <mat-card>
      <mat-card-header><mat-icon mat-card-avatar>my_location</mat-icon><mat-card-title>Location</mat-card-title></mat-card-header>
      <mat-card-content>          
        <mat-form-field class="latlon">
          <mat-label>Latitude</mat-label>
          <input  matInput placeholder="lat"  type="number"  [(ngModel)]="geoPos.latitude"  min="-85" max="85" />                       
        </mat-form-field>

        <mat-form-field class="latlon">
          <mat-label>Longitude</mat-label>
          <input  matInput placeholder="long"  type="number"  [(ngModel)]="geoPos.longitude" min="-180" max="180" />                       
        </mat-form-field>         
      </mat-card-content>      
    </mat-card> 
    <mat-card>
      <mat-card-header><mat-icon mat-card-avatar>select_all</mat-icon><mat-card-title>Tracker selection</mat-card-title></mat-card-header>
      <mat-card-content>
        <mat-form-field floatLabel="always" appearance="none">            
          <mat-slide-toggle  matTooltip="Los cambios afectan a todos o al seleccionado"  [(ngModel)]="selectedAllTrackers" matTooltip="Seleccionar todos o solo uno"> 
            All selected
          </mat-slide-toggle>
          <textarea matInput hidden></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Only selected</mat-label>
          <input    matInput   placeholder="Tracker number" type="number" matTooltip="Id del tracker seleccionado"
            id="myNumber" [disabled]="selectedAllTrackers" [(ngModel)]="selectedIdTracker"/> 
        </mat-form-field>
      </mat-card-content>
    </mat-card>  
    <mat-card>
      <mat-card-header><mat-icon mat-card-avatar>exposure</mat-icon><mat-card-title>Tracker</mat-card-title></mat-card-header>
      <mat-card-content>
        <mat-card-subtitle>Movimiento</mat-card-subtitle>         
          <mat-label>angulo:</mat-label>
          <mat-slider thumbLabel tickInterval="30"  min="-80"  max="80" step="5" value="0" (input)="onAngleChanged($event)" matTooltip="Inclinacion de los tracker seleccinoados">                
          </mat-slider>    
          
        <mat-card-subtitle>Indicadores</mat-card-subtitle>         
          <mat-slide-toggle  matTooltip="Alarma No coms"  [(ngModel)]="alarms.noCom"(change)="onAlarmsChanged($event)">
            No COM
          </mat-slide-toggle>
          <mat-slide-toggle matTooltip="Posicion seguridad activada" [(ngModel)]="alarms.safePosition" (change)="onAlarmsChanged($event)">
            Safe Position
          </mat-slide-toggle>
          <mat-slide-toggle matTooltip="Alarma de bateria" [(ngModel)]="alarms.battery" (change)="onAlarmsChanged($event)" [disabled]="true">
            bateria
          </mat-slide-toggle> 
      </mat-card-content>
    </mat-card>
  </mat-sidenav>
<mat-sidenav-content style="background-color: lightblue;" >
  <div style="background-color: lightseagreen;" class="example-events" fxFlexFill>    
    <canvas id="c" fxFlexFill></canvas>
  </div>
</mat-sidenav-content>
</mat-sidenav-container>

